asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.2
django-cors-headers==3.11.0
djangorestframework==3.13.1
docopt==0.6.2
idna==3.3
nod==1.6.0
node==0.9.28
npm==0.1.1
npx==0.1.0
numpy==1.22.2
odict==1.8.0
optional-django==0.1.0
pipreqs==0.4.11
plumber==1.6
pytz==2021.3
requests==2.27.1
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.8
yarg==0.1.9
zope.component==5.0.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.1.0
zope.interface==5.4.0
zope.lifecycleevent==4.3
